.search {
  margin: auto;
  width: 350px;
  display: flex;
}

.search input {
  flex-grow: 1;
}

.card {
  margin: auto;
  width: 350px;
}

.card img {
  width: 100%;
  height: auto;
}

.inline {
  margin-right: 1rem;
}

.stack {
  margin-bottom: 1rem;
}
